p{
    font-family: "Roboto";
}
form{
    border: 2px solid #000; 
    border-radius: 10px; 
    padding: 20px;
    width: 100%;
    font-family: "Roboto";
}
h2{
    font-family: "Roboto";
 
}
button{
   width: 100%; 
   padding: 10px; 
   border-radius: 8px; 
   font-weight: bold;
   background-color:  #bf0404;
   color: #fff;
   border: 0px;
   font-size: 20px;
}

input , textarea{
    border: 1px solid black;
    border-radius: 5px;
}
#email{
    width: 100%;
}
#nome , #sobrenome{
width: 35%;
}
#mensagem{
    width: 100%;
}

.table-estrutura{
    width: 100%;
}

.caixa-download{
    width: 150px; 
    border: 2px solid black; 
    border-radius: 8px; 
    text-align: center; 
    font-family: sans-serif; 
    overflow: hidden;
}
.cabeçalho-caixa-download{
    background-color: #bfb304; 
    padding: 10px;
    border-bottom: 2px solid black;
}
.caixa-link-download{
    padding: 20px;
}
.link-download{
text-decoration: none; 
color: black;
}

.coluna1-form{
    width: 50%;
}

.lista {
    list-style: none; /* remove as bolinhas padrão */
    padding-left: 0;
  }
  
  .lista li {
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 12px 16px;
    border-left: 4px solid #800020; 
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* sombra */
    transition: background-color 0.3s ease;
  }
  
  .lista li:hover {
    background-color: #730202; 
    color: #fff;
  }


  .lista li:first-child {
    border-left: 4px solid #004d00; /* verde escuro */
    font-weight: bold;
}

/* 2. Quando o formulário contiver um campo focado */
form:focus-within {
    box-shadow: 0 0 10px rgba(191, 4, 4, 0.6); /* vermelho suave */
    border-color: #bf0404;
    transition: 0.3s ease;
}
  
  @import url('./efeitos.css');
