/*muda as imagens da galeria */
.imagem-com-data:hover {
  transform: scale(1.05) rotate(1deg);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/*muda o botao de enviar na pagina contato*/
.botao-efeito {
  background-color: #bf0404;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.botao-efeito:hover {
  transform: scale(0.98);
  background-color: #8c8630;
}

/*imagens da pagina sobre*/
.img-zoom {
  transition: transform 0.4s ease-in-out;
  cursor: zoom-in;
}

.img-zoom:hover {
  transform: scale(1.05);
  /* aumenta 20% */
}

/*logo em todas as paginas*/
#logo:hover {
  color: #bf0404;
  transform: scale(1.05) skew(-3deg, 0deg) translateX(5px);
  transition: transform 0.6s ease;
  transform-origin: left ;
  width: 90%;
}

/*Matheus*/
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
body {
  animation: fadeIn 0.7s ease-in-out;
}

input {
  padding: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #8c8630; 
  transform: scale(1.05);
}


/*arthur*/
.lista {
  list-style: none;
  padding-left: 0;
}

.lista li {
  background-color: #f8f8f8;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-left: 4px solid #800020; 
  border-radius: 6px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* sombra */
  transition: background-color 0.3s ease;
}

.lista li:hover {
  background-color: #730202; 
  color: #fff;
}


.lista li:first-child {
  border-left: 4px solid #004d00; /* verde escuro */
  font-weight: bold;
}

/* 2. Quando o formulário contiver um campo focado */
form:focus-within {
  box-shadow: 0 0 10px rgba(191, 4, 4, 0.6); /* vermelho suave */
  border-color: #bf0404;
  transition: 0.3s ease;
}

/*GABI*/
@keyframes expandirImagem {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2);
  }
}

@keyframes voltarImagem {
  from {
      transform: scale(1.2);
  }
  to {
      transform: scale(1);
  }
}

.img-evento:hover {
  animation: expandirImagem 0.3s forwards;
  transition: transform 0.3s ease-in-out;
}