figure,
article {
    margin: 0px;
    padding: 0px;
}

.card-produto {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    width: 90%;
    height: 300px;
}

.caixa-card-produto{
    width: 30%;
}

.card-produto:hover {
    transform: scale(1.03);
}

.card-produto img {
    border-radius: 8px;
}

.card-produto h3 {
    font-weight: 500;
    margin: 10px 0 5px;
}

.card-produto .descricao {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

.card-produto .preco {
    font-size: 18px;
    font-weight: bold;
    color: var(--verde-oliva);
}

.caixa-img-produto {
    border-bottom: 1px solid black;
    height: 50%;
    overflow: hidden;
    width: 90%;
    background-color: #8c8630;
    margin: 25px;
}


#produto1 {}

#card-produto-linha-1,
table {
    width: 100%;
}

.icone-destaque {
    width: 40px;
}

#produto-zoom {
    background-color:  #8c8630;
    width:80%;
    height: 500px;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;

}
#porcentagem-alcoolica{
    font-size: 60px;
    color:   #2E2E2E    ;
}
.slider {
    -webkit-appearance: none;
    /* remove o estilo padrão no Chrome */
    height: 8px;
    background: #c8d6b9;
    /* cor da barra */
    border-radius: 5px;
    outline: none;
}

/* Estilo da bolinha que arrasta */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #bf0404;

    cursor: pointer;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#table-grade-produtos{
    border-spacing: 0 10px; /* 0 nas colunas, 10px entre as linhas */

}

#coluna1-checkbox-personalizacao{
}
#caixa-checkbox-personalizacao{
text-align: left;
margin-left: 50px;
line-height:50px;
}

.caixa-img-produto-zoom{
    overflow: hidden;
    width: 90%;
    background-color: #c8d6b9;
    margin: 25px;
    height: 350px;
    text-align: center;

}
#produto1{
    height: 100%;
}
#texto-personalize-seu-vinho{
 margin-bottom: 50px;

}

#caixa-produto{
    text-align: center;
}
.icon-seta{
    display: inline-block;
    width: 50px;
}
#porcentagem-alcoolica{
    display: inline-block; 
}